#ENV
APP_NAME=your_value_here
APP_ENV=your_value_here
APP_DEBUG=your_value_here
APP_URL=your_value_here


#DATABASE
DATABASE_URL=your_value_here
TEST_DATABASE_URL=your_value_here



# JWT
ALGORITHM=your_value_here
SECRET_KEY=your_value_here
ACCESS_TOKEN_EXPIRE_MINUTES=your_value_here
REFRESH_SECRET_KEY=your_value_here
REFRESH_TOKEN_EXPIRE_MINUTES=your_value_here
VERIFICATION_SECRET_KEY=your_value_here
VERIFICATION_TOKEN_EXPIRE_MINUTES=your_value_here

#MAIL
SMTP_HOST=your_value_here
SMTP_PORT=your_value_here
SMTP_USER=your_value_here
SMTP_PASSWORD=your_value_here


#SOCIAL_LOGIN
GOOGLE_CLIENT_ID=your_value_here
GOOGLE_CLIENT_SECRET=your_value_here
GOOGLE_REDIRECT_URI=your_value_here
GOOGLE_AUTH_URL=your_value_here
GOOGLE_TOKEN_URL=your_value_here
GOOGLE_USERINFO_URL=your_value_here

GITHUB_CLIENT_ID=your_value_here
GITHUB_CLIENT_SECRET=your_value_here
GITHUB_REDIRECT_URI=your_value_here
GITHUB_AUTHORIZE_URL=your_value_here
GITHUB_TOKEN_URL=your_value_here
GITHUB_USER_API=your_value_here
GITHUB_EMAILS=your_value_here
